:root {
  --primary-dark: 3, 0, 39;
  --primary-light: 255, 255, 255;
  --primary-accent: 155, 229, 100;
  --dark-accent: 55, 105, 18;
  --light-accent: 177, 234, 133;
  --logo-color: 192, 79, 21;
}
body {
    background-color: rgb(var(--primary-light));
}
html {
    font-size: 16px;
}